* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background: rgb(175, 161, 201);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: #fff;
    padding: 25px;
    width: 500px;
    border-radius: 10px;
}

.todo-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 5px;
    justify-content: center;
}

.book {
    padding-left: 10px;

    img {
        width: 50px;
        height: auto;
    }

}

#addTaskBtn {
    width: 70px;
    height: auto;
}


.todo-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e0dddd;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.todo-body input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px 0;
    font-size: 20px;
}

.todo-body img {
    cursor: pointer;
    height: 55px;
    width: 55px;
    padding: 5px;
    background: #e0c8f7;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e0dddd;
    margin-bottom: 10px;
    border-radius: 5px;
}

.task-controls {
    width: 25px;
    height: 25px;
    padding: 3px;
    margin-right: 5px;
}

.version {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: rgb(58, 44, 86);
  font-size: 14px;
}

li div {
    user-select: none;
}