@font-face {
    font-family: "Nunito Sans";
    src: url("fonts/NunitoSans-VariableFont.ttf");
    font-weight: 100 900;
}

* {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #af9fca;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #fdfaf3;
    padding: 25px;
    width: 500px;
    border-radius: 10px;
}

.todo-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 5px;
    justify-content: center;
}

.book {
    padding-left: 10px;

    img {
        width: 50px;
        height: auto;
    }

}

#addTaskBtn {
    width: 70px;
    height: auto;
}


.todo-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e0dddd;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.todo-body input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px 0;
    font-size: 20px;
}

.todo-body img {
    cursor: pointer;
    height: 55px;
    width: 55px;
    padding: 5px;
    background: hsl(271, 75%, 88%);
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 18px;
    padding: 10px;
}

.task-text {
    cursor: pointer;
}

.task-actions img {
    cursor: pointer;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e0dddd;
    margin-bottom: 10px;
    border-radius: 5px;
}

.task-controls {
    width: 25px;
    height: 25px;
    padding: 3px;
    margin-right: 5px;
}

.version {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: rgb(58, 44, 86);
    font-size: 14px;
}

li div,
.version {
    user-select: none;
}

h5 {
    text-align: center;
    margin-bottom: 10px;
    color: #753aac;
    font-weight: 800;
    font-family: "nunito", sans-serif;
}

li {
    opacity: 0;
    animation: new-item-animation 0.3s linear forwards;
}

@keyframes new-item-animation {
    from {
        opacity: 0;
        transform: translateY(-400px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.deleted-item {
    animation: removed-item-animation 1s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
    transform-origin: 0% 100%;
}

@keyframes removed-item-animation {
    0% {
        opacity: 1;
        transform: rotate(0);
    }

    100% {
        opacity: 0;
        transform: translateY(600px) rotate(90deg);
    }
}

.toggleMe {
    animation: hideMe 4s forwards;
}

@keyframes hideMe {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}